
  <table style="width:60%; float:justify" border="1">
  

    <tr>
        <td>Holiday Name</td>
        <td>{{holidayData.holidays[0].name}}</td>
      </tr>

      <tr>
          <td>Date</td>
          <td>{{holidayData.holidays[0].date}}</td>
        </tr>
        <tr>
      <td>Observed on</td>
      <td>{{holidayData.holidays[0].observed}}</td>
    </tr>
    <tr>
        <td>Is public holiday?</td>
        <td>{{holidayData.holidays[0].public}}</td>
      </tr>
  </table>
    
<br/><br/>
  <a href="holiday">Back</a>
